body {
	background-image: url(images/cloud.png);
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;

}
.page-wrap {
	background-color: rgba(255, 255, 255, 0.35)!important;
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
 }

.

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
    margin-bottom: -40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 40px; 
}


@media only screen and (max-width: 900px) {

.h1 {
	font-size: 2rem;
}
.h2 {
    font-size: 1.5rem;
}
.h3 {
	font-size: 1.25rem;
}
body {
  background-image: url(images/cloudmobile.png);
}

}

@media only screen and (max-width: 550px) {
.h1 {
	font-size: 1.75rem;
}
.h2 {
    font-size: 1.25rem;
}
.h3 {
	font-size: 1rem;
}

}

